- if @resource.errors.any? 
  = render partial: 'error_massages', locals: {resource: @resource}

.well
  = form_for(namespaced_resource(@resource), html: {class: 'form-horizontal'}) do |f|
    %fieldset
      -# TODO: implement
      - @form_fields.each do |attr|
        = render partial: 'form_group', locals: {f: f, attr: attr}
      = render partial: 'form_actions', locals: {f: f}