- if @resource.errors.any? 
  = render partial: 'error_massages', locals: {resource: @resource}

.well
  = form_for(@resource, html: {class: 'form-horizontal'}) do |f|
    %fieldset
      -# TODO: implement
      - @resource.attributes.except('id', 'created_at', 'updated_at').keys.each do |attr|
        = render partial: 'form_group', locals: {f: f, attr: attr}
      = render partial: 'form_actions', locals: {f: f}